#root {
  display: flex;
  height: 100vh;
}

.sidebar {
  max-width: 400px;
  min-width: 400px;
  border-right: 1pt solid #eee;
  overflow-y: scroll;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.message-list-item {
  padding: 12px;
  border-bottom: 1pt solid #eee;
}

.message-list-item:hover {
  background-color: #eee;
}

.message-list-item.active {
  background-color: #eee;
}

main {
  padding: 24px;
}

.unread {
  color: blue;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: white;
}

aside {
  position: relative;
}